---
---

@import "{{ site.theme }}";

.wrapper {
  width:1200px;
  // left side is 270
  // 1200-270 = 930
  // 30px free room
  margin:0 auto;
  // overflow-y: scroll; /* Enable vertical scrolling */
  // scrollbar-gutter:var(--gutter,auto);
}

header {
    width: 350px;
    float: left;
    position: fixed;
    overflow-y: scroll;
    -webkit-font-smoothing: subpixel-antialiased;
}

section {
    width: 800px;
    float: right;
    padding-bottom: 50px;
}
// section {
//   width:900px;
//   float:right;
//   padding-bottom:50px;
// }

// header {
//   width: 300px; /* Adjust the width according to your needs */
//   height: 100vh; /* Adjust the height as needed; '100vh' means full viewport height */
//   margin:0 auto;
//   float:left;
//   overflow-y: scroll; /* Enable vertical scrolling */
//   scrollbar-gutter:var(--gutter,auto);
// }
